@media (max-width: 1024px) {
    .video {
        width: 900px;
    }
    .form_donate {
        width: 65%;
    }
    .events{
        width: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .content_vid {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .button_yellow {
        display: flex;
        justify-content: center;
    }
    .navbar {
        position: absolute;
        background: #4C004A;
        text-align: center;
        z-index: 3;
        right: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        font-size: 15px;
    }
    .navbar-nav {
        line-height: 2;
    }
    .video_div {
        display: flex;
        justify-content: center;
    }
    .banner_main_about {
        background-position: center;
    }
    .mlr {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .form_donate {
        width: 90%;
    }
    .video{
        width: 700px;
        height: 450px;
    }
    .padding{
        padding-left: 0;
        padding-right: 0;
    }
    .reqform{
        width: 90%;
        padding: 25px;
    }
    .cont_title{
        margin: 0 auto 20px;
        text-align: center;
    }
    .cont_par{
        text-align: center;
    }
    .cont_par p{
        margin: 0 auto;
    }
    .bible_verse{
        margin-bottom: 20px;
    }
    .posts_card{
        width: 100%;
    }
    .events{
        padding: 10px;
    }
}
@media (max-width: 500px) {
    .navbar {
        right: 0;
        top: 40px;
    }
    .video {
        width: 400px;
        height: 200px;
    }
    .banner_text {
        left: 30px;
        padding: 5px;
    }
    .banner_text p {
        font-size: 25px;
        margin-bottom: 0;
    }
    .donation_title {
        font-size: 30px;
    }
    .form_donate form input {
        width: 325px;
    }
    .cont_par p{
        width: 100%;
    }
    .posts_card{
        width: 100%;
    }
    .footer_logo{
        width: 45%;
    }
    .social_medS{
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .social_meds ul{
        width: 20%;
        padding-left: 0;
        margin: 0 auto;
    }
    .bible_verse{
        margin-bottom: 20px;
    }
    .about_title h2{
        left: 40%;
    }
    .viaemail input{
        width: 100%;
    }
    .form-control{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .video {
        width: 350px;
    }
    .form_donate form input {
        width: 300px;
    }
    .banner_text p{
        font-size: 23px;
    }
    .banner_btn{
        left: 20px;
    }
    .banner_text{
        left: 15px;
    }
    .mass_sched{
        font-size: 16px;
    }
    .yellow_btn{
        font-size: 16px;
    }
}
@media (max-width: 350px) {
    .video {
        width: 300px;
    }
    .form_donate form input {
        width: 250px;
    }
    .banner_text{
        left: 0;
    }
    .banner_text p{
        font-size: 20px;
    }
    .banner_btn{
        width: 280px;
    }
}
